<html xmlns:th="https://www.thymeleaf.org/">
<head>
<div th:replace="/fragments/commonui :: links"></div>
</head>
<body>
 <div th:replace="/fragments/commonui :: menubar"></div>
    <div class="container">
        <form th:action="@{/doctor/update}" method="POST" th:object="${doctor}">
        ID:<input type="text" th:field="*{id}" id="id" class="form-control" readonly />
      Name:<input type="text" th:field="*{name}" id="name" class="form-control" />
      Email:<input type="text" th:field="*{email}" id="email" class="form-control" />
      <!--Dynamic Drop Down-->
      Specialization:
      <select th:field="*{specilazation.id}" id="specilazation" class="form-control">
      <option value="">--SELECT--</option>
      <option th:each="ob:${Specializations}" th:value="${ob.key}" th:text="${ob.value}"></option>
      </select>
      Address:<input type="text" th:field="*{address}" id="address" class="form-control" />
      Mobile:<input type="text" th:field="*{number}" id="number" class="form-control" />
      Gender:<input type="radio" th:field="*{gender}" id="gender1" value="Male" > Male
             <input type="radio" th:field="*{gender}" id="gender2" value="FeMale" > FeMale
            <input type="radio" th:field="*{gender}" id="gender3" value="Others" > Others<br>
     Note:<input type="text" th:field="*{note}" id="note" class="form-control" />
            <input type="submit" value="UPDATE" class="btn btn-secondary">
        </form>  
    </div> 
</body>
</html>