<html xmlns:th="https://www.thymeleaf.org/">
<head>
<div  th:replace="/fragments/commonui :: links"></div>
</head>
<body>
 <div th:replace="/fragments/commonui :: menubar"></div>
    <div class="container">
        <form action="save" method="POST">
        <h2>WELCOME TO DOCTOR REGISTER FORM</h2>
      Name:<input type="text" name="name" id="name" class="form-control" />
      Email:<input type="text" name="email" id="email" class="form-control" />
      
      <!--Dynamic Drop Down-->
      Specialization:
      <select name="specilazation.id" id="specilazation" class="form-control" />
      <option value="">--SELECT--</option>
      <option th:each="ob:${Specializations}" th:value="${ob.key}" th:text="${ob.value}"></option>
      </select>
      Address:<input type="text" name="address" id="address" class="form-control" />
      Mobile:<input type="text" name="number" id="number" class="form-control" />
      Gender:<input type="radio" name="gender" id="gender1" value="Male" > Male
             <input type="radio" name="gender" id="gender2" value="FeMale" > FeMale
            <input type="radio" name="gender" id="gender3" value="Others" > Others<br>
     Note:<input type="text" name="note" id="note" class="form-control" />
     <button class="btn btn-primary">CREATE</button>
        </form>  
    </div>
   <div th:text="${message}"></div> 
</body>
</html>