<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link
<div  th:replace="/fragments/commonui :: links"></div>
</head>
<body>
 <div th:replace="/fragments/commonui :: menubar"></div>
    <div class="container">
<table class="table table-hover">
<tr class="bg-info text-center">
<th>Doctor Id</th>
<th>Doctor Name</th>
<th>Doctor Email</th>
<th>Doctor Specialization</th>
<th>Doctor Address</th>
<th>Doctor Mobile</th>
<th> Doctor Gender</th>
<th>Doctor Discription</th>
<th>Operations</th>
</tr>
<tr th:each="ob:${list}">
    <td th:text="${ob.id}"></td>
    <td th:text="${ob.name}"></td>
    <td th:text="${ob.email}"></td>
    <td th:text="${ob.specilazation.name}"></td>
    <td th:text="${ob.address}"></td>
    <td th:text="${ob.number}"></td>
    <td th:text="${ob.gender}"></td>
    <td th:text="${ob.note}"></td>
    <td><a th:href="@{/doctor/delete(id=${ob.id})}" class="btn btn-Danger">DELETE</a>|
        <a th:href="@{/doctor/edit(id=${ob.id})}" class="btn btn-Secondary"> EDIT </a></td>
</tr>
</table>

 <hr/>

   <nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center">
  	 <li class="page-item" th:if="${!page.isFirst()}">
    <a class="page-link"  th:href="@{/doctor/data(page=0)}">First</a>
    		</li>
  <li class="page-item" th:if="${page.hasPrevious()}">
   <a class="page-link"  th:href="@{/doctor/data(page=${page.number-1})}">Previous</a>
    </li>

    <th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
   <li class="page-item">
    <a class="page-link" th:href="@{/doctor/data(page=${i})}">[[${i+1}]]</a>
    </li>
 </th:block>
 <li class="page-item" th:if="${page.hasNext()}">
   <a class="page-link"  th:href="@{/doctor/data(page=${page.number+1})}">Next</a>
    </li>
   <li class="page-item" th:if="${!page.isLast()}">
  <a class="page-link"  th:href="@{/doctor/data(page=${page.totalPages-1})}">Last</a>
   </li>
  </ul>
</nav>
<div th:text="${mess}"></div>
    </div>
</body>
</html>