<html xmlns:th="https://www.thymeleaf.org/">
<head>
   <div th:replace="/fragments/commonui :: links"></div>
</head>
</body>
 <div th:replace="/fragments/commonui :: menubar"></div>
<div class="container">
<table class="table table-hover">
<tr class="bg-info text-center">
<th>Patient Id</th>
<th>Patient Name</th>
<th>Patient Gender</th>
<th>Patient Mobile</th>
<th>Patient DOB</th>
<th>Marial Status</th>
<th>Prasent Address</th>
<th>Communication Address</th>
<th>Past Medical History</th>
<th>Other Details</th>
<th>Operations</th>
</tr>
<tr th:each="ob:${list}">
<td th:text="${ob.id}"></td>
<td th:text="${ob.name}"></td>
<td th:text="${ob.Gender}"></td>
<td th:text="${ob.number}"></td>
<td th:text="${ob.dob}"></td>
<td th:text="${ob.marridStatus}"></td>
<td th:text="${ob.presentAddress}"></td>
<td th:text="${ob.communicationAddress}"></td>
<td th:text="${ob.pastMedicalHistory}"></td>
<td th:text="${ob.othersDetails}"></td>
<td><a th:href="@{/patient/delete(id=${ob.id})}" class="btn btn-primary">DELETE</a>
    <a th:href="@{/patient/edit(id=${ob.id})}" class="btn btn-secondary"> EDIT </a></td>
</tr>
</table>

<hr/>

                <nav aria-label="Page navigation example ">
  					<ul class="pagination justify-content-center">
  					    <li class="page-item" th:if="${!page.isFirst()}">
    					  <a class="page-link"  th:href="@{/patient/data(page=0)}">First</a>
    					</li>
    					<li class="page-item" th:if="${page.hasPrevious()}">
    					  <a class="page-link"  th:href="@{/patient/data(page=${page.number-1})}">Previous</a>
    					</li>

    					<th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
    						<li class="page-item">
    						   <a class="page-link" th:href="@{/patient/data(page=${i})}">[[${i+1}]]</a>
    						</li>
    					</th:block>
    					<li class="page-item" th:if="${page.hasNext()}">
    					  <a class="page-link"  th:href="@{/patient/data(page=${page.number+1})}">Next</a>
    					</li>
    					<li class="page-item" th:if="${!page.isLast()}">
    					  <a class="page-link"  th:href="@{/patient/data(page=${page.totalPages-1})}">Last</a>
    					</li>
  					</ul>
				</nav>

<div th:text="${message}"></div>
</div>
</body>
</html>