<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <div th:replace="/fragments/commonui :: links"></div>
    </head>
    <h2>WELCOME TO PATIENT REGISTER</h2>
    <body>
     <div th:replace="/fragments/commonui :: menubar"></div>
        <div class="container">
        <form action="save" method="POST">
Name:<input type="text" name="name" id="name" class="form-control">
Gender:<input type="radio" name="Gender" id="Gender" value="Male" > Male
        <input type="radio" name="Gender" id="Gender" value="FeMale" > FeMale
        <input type="radio" name="Gender" id="Gender" value="Others" > Others<br>
Mobile:<input type="text" name="number" id="number" class="form-control">
Date Of Birth:<input type="text" name="dob" id="dob" class="form-control">
Marial Status:<input type="radio" name="marridStatus" id="marridStatus" value="Marrid" > Marrid
                 <input type="radio" name="marridStatus" id="marridStatus" value="UnMarried" >UnMarried<br>
Prasent Address:<textarea name="presentAddress" id="presentAddress" class="form-control"></textarea>
Communication Address:<textarea  name="communicationAddress" id="communicationAddress" class="form-control"></textarea>
Past Medical History:
 <input type="checkbox" name="pastMedicalHistory"  id="pastMedicalHistory1" value="Anemia" >Anemia
<input type="checkbox" name="pastMedicalHistory"  id="pastMedicalHistory2" value="Asthma" >Asthma
<input type="checkbox" name="pastMedicalHistory" id="pastMedicalHistory3"  value="Diabetes" >Diabetes
<input type="checkbox" name="pastMedicalHistory"  id="pastMedicalHistory4" value="Cancer">Cancer
<input type="checkbox" name="pastMedicalHistory"  id="pastMedicalHistory5" value="Ulcer">Ulcer
<input type="checkbox" name="pastMedicalHistory" id="pastMedicalHistory6" value="ChickenPox">ChickenPox
<input type="checkbox" name="pastMedicalHistory" id="pastMedicalHistory7" value="Others">Others<br>
Other Details:<textarea name="othersDetails" id="othersDetails" class="form-control"></textarea>
<button class="btn btn-primary">REGISTER</button>
</form>
<div th:text="${message}"></div>
</div>
</body>
</html>