<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <div th:replace="/fragments/commonui :: links"></div>
    </head> 
    <body>
     <div th:replace="/fragments/commonui :: menubar"></div>
    <form th:action="@{/specialization/update}" method="POST" th:object="${message}">
        <h2>Welcome to Specialization Form</h2>
         ID:<input type="text" th:field="*{id}"class="form-control" readonly />
       Code:<input type="number" th:field="*{code}" id="code" class="form-control"/>
       Name:<input type="text" th:field="*{name}" id="name" class="form-control" />
       Note:<textarea  th:field="*{note}" id="note" class="form-control"></textarea> 
       <button class="btn btn-success">UPDATE</button>
    </form>
    </body>
</html>



