<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="/fragments/commonui :: links"></div>
</head>
<body>
 <div th:replace="/fragments/commonui :: menubar"></div>
<div class="container">
<div class=card>
<div class="card-body">
<a th:href="@{/specialization/pdf}" class="btn btn-primary">PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>  
<table class="table table-hover">
<tr class="bg-secondary text-white text-center">
<th>Special Id</th>
<th>Special Code</th>
<th>Special User</th>
<th>Special Note</th>
<th>Operations</th>
</tr>
<tr th:each="ob:${list}" class="text-center"> 
<td th:text="${ob.id}"></td>
<td th:text="${ob.code}"></td>
<td th:text="${ob.name}"></td>
<td th:text="${ob.note}"></td>
<td><a th:href="@{/specialization/delete(id=${ob.id})}" class="btn btn-danger">DELETE</a>
<a th:href="@{/specialization/edit(id=${ob.id})}" class="btn btn-primary"> EDIT</a></td>
</tr>
</div>
</table>
</div>
</div>
<hr/>                
     <nav aria-label="Page navigation example ">
  	<ul class="pagination justify-content-center">
     <li class="page-item" th:if="${!page.isFirst()}">
    <a class="page-link"  th:href="@{/specialization/data(page=0)}">First</a>
    </li>
   <li class="page-item" th:if="${page.hasPrevious()}">
     <a class="page-link"  th:href="@{/specialization/data(page=${page.number-1})}">Previous</a>
    </li>
    				
   <th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
    <li class="page-item">
    <a class="page-link" th:href="@{/specialization/data(page=${i})}">[[${i+1}]]</a>
    </li>
   </th:block>
    <li class="page-item" th:if="${page.hasNext()}">
     <a class="page-link"  th:href="@{/specialization/data(page=${page.number+1})}">Next</a>
    </li>
    <li class="page-item" th:if="${!page.isLast()}">
    <a class="page-link"  th:href="@{/specialization/data(page=${page.totalPages-1})}">Last</a>
    </li>
  	</ul>
	</nav>

<div th:text="${message}"></div>

</body>
</html>